// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Dropzone
@import '~dropzone/dist/min/dropzone.min.css';

.dropzone {
  margin-bottom: 20px;
  min-height: auto;
}

html, body {
  background: url(/images/background.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.card-body.results {
  .col.score {
      font-size: 42px;
      text-align: center;
      margin-top: 68px;

      &.winner {
          font-weight: bold;
          color: blue;
      }
  }
  .row.title > div {
    font-size: 42px;
    font-weight: bold;
  }
}
